.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.nav-header {
  width: 100%;
  height: 5.2vh;
  padding-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.logo-content {
  width: 100%;
  color: #99b351;
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo-text {
  margin-top: 20px;
  text-align: center;
  line-height: 10px;
  color: #99b351;
}
.logo-text h1 {
  color: #99b351;
  font-family: "Cabin Sketch", cursive;
  font-weight: 700;
}
.logo-text p {
  font-family: "Cabin Sketch", cursive;
}
.logo {
  width: 50px;
  object-fit: contain;
}
.icons-list {
  font-size: 20px;
  right: 0;
  position: absolute;
  display: flex;
}
.icons-list li {
  list-style: none;
  margin-right: 2.2rem;
}
.icons-list li a {
  text-decoration: none;
  color: #898989;
  border: #707070;
}
.nav-footer {
  width: 100%;
}
.nav-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}
.nav-footer ul li {
  list-style: none;
  margin-right: 3rem;
}
.nav-footer ul li a {
  text-decoration: none;
  color: #99b351;
  font-size: 1.5vw;
  font-weight: bold;
}
